body{
    background-color: black;
}

.js-clock h1{
    padding-top: 0.5em;
    text-align: center;
    font-size: 8em;
    color: white;
}

.js-form,
.greeings{
    text-align: center;
    display: none;
}

input {
    background: none;
    appearance: none;
    border: 0;
    font-size: 1.3em;
    color: white;
    border-bottom: 2px solid white;
}

input::placeholder{
    color: white;
}

button{
    background: none;
    border: 0;
}

.js-toDoForm,
.js-toDoList{
    text-align: center;
}

li{
    list-style: none;
    color: aliceblue;
    font-size: 1.5em;
    padding-bottom: 0.6em;
}

li:hover{
    font-size: 1.55em;
    background-color: rgba(0, 0, 0, 0.4);
}

.js-grettings{
    text-align: center;
    font-size: 2em;
    color: white;
}

.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    animation: fadeIn .4s linear;
}